<div id="a4-filosofia-institucional" class="a4 revista">

  <header class="magazine-header">
    <p class="magazine-subtitle">Pedagogía de las Ciencias Experimentales Informática.</p>
  </header>

  

  <div class="magazine-grid" style="grid-template-columns: 1fr;">
    <article class="magazine-main" style="column-count: 1;">

      <h3 class="section-heading" style="margin-top: 6mm; margin-bottom: 3mm;">PERFIL PROFESIONAL</h3>
      <p>
        El estudiante que egresa de la Carrera, estará en la capacidad de ejercer su profesión con los conocimientos científicos e investigativos tanto teóricos, metodológicos y prácticos, adquiridos durante su etapa estudiantil. Manteniendo la ética profesional tendrá la capacidad de gestionar, planificar, diseñar, desarrollar e implementar programas informáticos, administración y seguridad de redes, aplicaciones multimedia, diseños Web, mantenimiento preventivo, correctivo y evolutivo del hardware y software con responsabilidad; los mismos que servirán para la aplicación en espacios y entornos educativos en diferentes modalidades con innovación tecnológica para el mejoramiento en la productividad y competitividad del sistema educativo. 
      </p>

      <h3 class="section-heading" style="margin-top: 6mm; margin-bottom: 3mm;">Perfil de Ingreso</h3>
      <p>

      </p>

      

    </article>
  </div>

  <div class="cover-footer">
    <div class="footer-inner">
      <div class="footer-left">
        <span class="footer-tag">Portafolio Académico</span>
        <span class="footer-info">Legislación Educativa · UCE · Quito, Ecuador</span>
      </div>
      <div class="footer-right">
        <div class="footer-page-label"><span>Anexo</span></div>
        <div class="footer-page">21</div>
      </div>
    </div>
  </div>

</div>