<div id="a4-filosofia-institucional" class="a4 revista">

  <header class="magazine-header">
    <p class="magazine-subtitle">Pedagogía de las Ciencias Experimentales Informática.</p>
  </header>

  <div class="magazine-grid single-column">
    <article class="magazine-main single-column">

      <h3 class="section-heading section-heading-spaced">PERFIL PROFESIONAL</h3>
      <p></p>

    </article>
  </div>

  <div class="cover-footer">
    <div class="footer-inner">
      <div class="footer-left">
        <span class="footer-tag">Portafolio Académico</span>
        <span class="footer-info">Legislación Educativa · UCE · Quito, Ecuador</span>
      </div>
      <div class="footer-right">
        <div class="footer-page-label"><span>Anexo</span></div>
        <div class="footer-page"></div>
      </div>
    </div>
  </div>

</div>