<div id="a4-revista-leccion01" class="a4 revista">

  <header class="magazine-header">
    <div class="magazine-category">
      <span class="magazine-dot"></span>
      <span>Trabajo Individual 6</span>
    </div>
    <h1 class="magazine-title">DERECHOS DE LOS NIÑOS, NIÑAS Y ADOLESCENTES</h1>
    <p class="magazine-subtitle">Mural expresado en dibujos de cada uno de los derechos. </p>
  </header>

  <div class="pdf-container pdf-container-no-margin">
    <iframe src="https://drive.google.com/file/d/13XqrZ2wQsLS8g245XoBkuXv5rr7AqlR8/preview" width="100%" height="100%">
    </iframe>
  </div>

  <div class="cover-footer">
    <div class="footer-inner">
      <div class="footer-left">
        <span class="footer-tag">Portafolio Académico</span>
        <span class="footer-info">Legislación Educativa · UCE · Quito, Ecuador</span>
      </div>
      <div class="footer-right">
        <div class="footer-page-label"><span>TRABAJO</span></div>
        <div class="footer-page"></div>
      </div>
    </div>
  </div>

</div>